@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial;
    transition: background-color 0.8s ease, color 0.8s ease;
 overflow-x: hidden;
  
}

.bg-about{
  background-image: url("./assets/about-image-1.jpg");
}
